.navbar-container{
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgSoft);
    border-radius: 10px;

    .menu{
        display: flex;
        align-items: center;
        gap: 20px;

        .search{
            background-color: #2e374a;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            padding: 10px;
            input{
                color: var(--text);
                border: none;
                background-color: transparent;
                outline: none;
            }
        }

        .icons{
            display: flex;
            gap: 20px;
            cursor: pointer;
        }
    }
}