.charts-container{
    height: 450px;
    padding: 20px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    margin-bottom: 20px;

    .title{
        margin-bottom: 20px;
        color: var(--textSoft);
    }
}