.pagination-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    button{
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: teal;
        color: white;
        cursor: pointer;
    }
}