.pagination-container{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 20px;
    width: fit-content;
    font-size: 1rem;
    // background-color: var(--hoverColor);
    border-radius: 5px;
    border: 2px solid white;
    .rows-per-page{
        display: flex;
        gap: 10px;
        height: max-content;
        select{
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            option{
                color: black;
            }
        }
    }
    .btn-container{
        display: flex;
        svg{
            cursor: pointer;
            margin: 0 10px;
            font-size: 1rem;
        }
    }
    button{
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: teal;
        color: white;
        cursor: pointer;
    }
}