.main-container{
    display: flex;

    .sidebar{
        flex: 1;
    }

    .content{
        margin-left: 20px;
        flex: 4;
        
        .dashboard-container{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .middle-content{
                flex: 3;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .cards-container{
                    display: flex;
                    gap: 20px;
                }
            }
            .right-bar{
                flex: 1;
            }
        }
    }
}