.card-container{
    background-color: var(--bgSoft);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
    &:hover{
        background-color:#2e374a;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title{
            font-size: 18px;
        }
        p{
            font-weight: 500;
            font-size: 24px;
        }
        .details{
            font-size: 14px;
            font-weight: 300;
            display: flex;
            gap: 5px;
            
            .positive{
                color: lime;
            }
            .negative{
                color: red;
            }
        }
    }
}